.enjinstarter {
  --primary-color: #ff3877;
  --bg-color: #404068;
  --text-color: #ffffff;
  --link-color: #ffffff;
  --heading-color: #ff3877;
  --border-color: #ffffff33;
  --header-bg: #2b0f58;
  --block-bg: #00000033;

  .bg-skin-text {
    background-color: #ff3877;
  }

  #navbar {
    background-color: #2b0f58;
  }
}
