.enjinstarter {
  --primary-color: #2b0f58;
  --bg-color: #ffffff;
  --text-color: #565b69;
  --link-color: #000000;
  --heading-color: #2b0f58;
  --border-color: #e1e3e7;
  --header-bg: #ffffff;
  --block-bg: transparent;
}
